
My Very Own To Do List
<table>
{% for item in my_item_list %}
  <tr>
    <td>
      &nbsp;&nbsp;&nbsp;
    </td>
    <td>
      {{ item }}
    </td>
    <td>
      &nbsp;&nbsp;&nbsp;
    </td>
    <td>
      {% if forloop.counter0 > 0 %} <a href="/todolist/{{ forloop.counter0 }}/moveup">^</a> {% endif %}
    </td>
    <td>
      {% if forloop.counter0 < max_item_num %} <a href="/todolist/{{ forloop.counter0 }}/movedown">V</a> {% endif %}
    </td>
    <td>
      &nbsp;&nbsp;&nbsp;
    </td>
    <td>
      <a href="/todolist/{{ forloop.counter0 }}/delete">X</a>
    <td>
  </tr>
{% endfor %}
</table>
<form method="POST" action="/todolist/create/">
  {% csrf_token %}
  <input name="new_text" type="text"/><input type="submit" value="Add item"/>
</form
